@import "tailwindcss";

@theme {
  /* font theme */
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* color theme */
  --color-primary-50: #fff8ec;
  --color-primary-100: #fff0d3;
  --color-primary-200: #ffdca5;
  --color-primary-300: #ffc26d;
  --color-primary-400: #ff9d32;
  --color-primary-500: #ff7f0a;
  --color-primary-600: #ff6600;
  --color-primary-700: #cc4902;
  --color-primary-800: #a1390b;
  --color-primary-900: #82310c;
  --color-primary-950: #461604;

  /* responsive theme */
  --container-8xl: 96rem;
}

html {
  @apply font-inter;
}

.arrow {
  filter: drop-shadow(0 0 3px black);
}

.content[data-side="top"] .arrow {
  clip-path: inset(0 -10px -10px -10px);
}

/* HTML: <div class="loader"></div> */
.loader {
  /* @apply w-14 h-14 bg-primary-500 rounded-full */
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ff7f0a;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
